@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f3f4;
  --foreground: #02020b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #f2f3f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
